 @import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700|Raleway:400,700,800,900&display=swap&subset=cyrillic,cyrillic-ext');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: var(--font-size-body, 14px)/1.5 'Raleway', Georgia, serif;

}
@media (min-width: 600px) {
    html{
        font-size: var(--font-size-body-large, 16px);
    }
}
@media (min-width: 1024px) {
    html{
        font-size: var(--font-size-body-big, 18px);
    }
}
@media (min-width: 1600px) {
    html{
        font-size: var(--font-size-body-huge, 20px);
    }
}
body, table, form, select, option, input, textarea{
    font: inherit;
    background: var(--color-link-bgrd, white);
    color: var(--color-body-text, #000);
}


.site-title, 
h1, h2, h3 , h4, h5, h6 {
     font-size: 1em;
     margin-bottom: .5em;
     font-weight: normal;
     font-family: 'Oswald', sans-serif;
}

h1{font-size:2.6em;}
h2{font-size:2.0em;}
h3{font-size:1.8em;}
h4{font-size:1.4em;}
h5{font-size:1.2em;}
h6{font-size:1.0em;}

a {
    text-decoration: none;
    color: var(--color-link-default, orange);
    
}

p, ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-top: .5em;
    padding-bottom: .5em;
}
