.site-footer {
    border-top: 1px solid var(--color-border-default);
    margin-top: var(--spacing-layout-element);
    padding-top: calc( var(--spacing-layout-element) / 2 );
}
.site-footer ul {
    margin-left: 20em;
}
